tesi/
call.docx
e-puck/data/data/
e-puck/data/images/
e-puck/data/plots/
e-puck/plugins/
e-puck/worlds/
**/__pycache__/
e-puck/controllers/model_controller/__pycache__/robot_controller_oespl.cpython-312.pyc
